
.sz-form-item .sz-input-inline {
    float: left;
    margin-right: 10px;
    padding-top: 2%;
}
.sz-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 140px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    
}
.sz-input-block {
    margin-left: 110px;
    min-height: 36px;
    padding-top: 8%;
    padding-left: 44%;
}
