<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zptc.gx.specialty.mapper.EnrollmentHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.zptc.gx.specialty.entity.EnrollmentHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="plan_num" property="planNum" jdbcType="INTEGER" />
    <result column="actual_num" property="actualNum" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="specialty_id" property="specialtyId" jdbcType="BIGINT" />
    <result column="specialty_name" property="specialtyName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, plan_num, actual_num, rate, specialty_id, specialty_name, status, create_time, 
    create_user, modify_time, modify_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from enrollment_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from enrollment_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zptc.gx.specialty.entity.EnrollmentHistory" >
    insert into enrollment_history (id, date, plan_num, 
      actual_num, rate, specialty_id, 
      specialty_name, status, create_time, 
      create_user, modify_time, modify_user
      )
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=TIMESTAMP}, #{planNum,jdbcType=INTEGER}, 
      #{actualNum,jdbcType=INTEGER}, #{rate,jdbcType=DECIMAL}, #{specialtyId,jdbcType=BIGINT}, 
      #{specialtyName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zptc.gx.specialty.entity.EnrollmentHistory" >
    insert into enrollment_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="planNum != null" >
        plan_num,
      </if>
      <if test="actualNum != null" >
        actual_num,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="specialtyId != null" >
        specialty_id,
      </if>
      <if test="specialtyName != null" >
        specialty_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="planNum != null" >
        #{planNum,jdbcType=INTEGER},
      </if>
      <if test="actualNum != null" >
        #{actualNum,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="specialtyId != null" >
        #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="specialtyName != null" >
        #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zptc.gx.specialty.entity.EnrollmentHistory" >
    update enrollment_history
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="planNum != null" >
        plan_num = #{planNum,jdbcType=INTEGER},
      </if>
      <if test="actualNum != null" >
        actual_num = #{actualNum,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="specialtyId != null" >
        specialty_id = #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="specialtyName != null" >
        specialty_name = #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zptc.gx.specialty.entity.EnrollmentHistory" >
    update enrollment_history
    set date = #{date,jdbcType=TIMESTAMP},
      plan_num = #{planNum,jdbcType=INTEGER},
      actual_num = #{actualNum,jdbcType=INTEGER},
      rate = #{rate,jdbcType=DECIMAL},
      specialty_id = #{specialtyId,jdbcType=BIGINT},
      specialty_name = #{specialtyName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--根据status修改状态(删除)-->
	 <update id="updateByStautsDel" parameterType="com.zptc.gx.specialty.entity.EnrollmentHistory" >
	    update enrollment_history
	    <set>
	    	<if test="status !=null and status !=''">
				status = #{status,jdbcType=INTEGER}
			</if>
	    </set>  
	    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 查询列表数据 -->
  <select id="getEnrollmentHistoryList" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from enrollment_history
    <where>
    	 <if test="date1 != null and date1 != ''and date2 != null and date2 !=''">
			<!-- and datediff(day,date1,date2,#{date1,jdbcType=TIMESTAMP},#{date1,jdbcType=TIMESTAMP}) -->
			and date between #{date1,jdbcType=VARCHAR} and #{date2,jdbcType=VARCHAR}
		</if>
		<!-- <if test="plan_num != null and plan_num != ''">
			and instr(plan_num,#{plan_num,jdbcType=INTEGER})
		</if>
		<if test="actual_num != null and actual_num != ''">
			and instr(actual_num,#{actual_num,jdbcType=INTEGER})
		</if> -->
		<if test="specialty_name != null and specialty_name != ''">
			and instr(specialty_name,#{specialty_name,jdbcType=VARCHAR})
		</if> 
		<if test="rate != null and rate != ''">
			and instr(rate,#{rate,jdbcType=DECIMAL})
		</if>
		<if test="status !=null and status != ''">
					and status = #{status,jdbcType=INTEGER}
		</if>
	</where>
    limit #{pages,jdbcType=INTEGER},#{limit,jdbcType=INTEGER};
  </select>
    <!--统计数据条数-->
  <select id="selectCounts" resultType="int" parameterType="map">
		select
			count(*)
		from
			enrollment_history
	  <where>
		<if test="date1 != null and date1 != ''and date2 != null and date2 !=''">
			<!-- and datediff(day,date1,date2,#{date1,jdbcType=TIMESTAMP},#{date1,jdbcType=TIMESTAMP}) -->
			and date between #{date1,jdbcType=VARCHAR} and #{date2,jdbcType=VARCHAR}
		</if>
		<!-- <if test="plan_num != null and plan_num != ''">
			and instr(plan_num,#{plan_num,jdbcType=INTEGER})
		</if>
		<if test="actual_num != null and actual_num != ''">
			and instr(actual_num,#{actual_num,jdbcType=INTEGER})
		</if> -->
		 <if test="specialty_name != null and specialty_name != ''">
			and instr(specialty_name,#{specialty_name,jdbcType=VARCHAR})
		</if> 
		<if test="rate != null and rate != ''">
			and instr(rate,#{rate,jdbcType=DECIMAL})
		</if>
		<if test="status !=null and status != ''">
					and status = #{status,jdbcType=INTEGER}
		</if>
	</where>
	</select>
</mapper>