<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zptc.gx.specialty.mapper.GraduateHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.zptc.gx.specialty.entity.GraduateHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="graduate_num" property="graduateNum" jdbcType="INTEGER" />
    <result column="employed_num" property="employedNum" jdbcType="INTEGER" />
    <result column="entrepreneurs_num" property="entrepreneursNum" jdbcType="INTEGER" />
    <result column="employment_rate" property="employmentRate" jdbcType="DECIMAL" />
    <result column="specialty_id" property="specialtyId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, graduate_num, employed_num, entrepreneurs_num, employment_rate, specialty_id, 
    status, create_time, create_user, modify_time, modify_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from graduate_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from graduate_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zptc.gx.specialty.entity.GraduateHistory" >
    insert into graduate_history (id, date, graduate_num, 
      employed_num, entrepreneurs_num, employment_rate, 
      specialty_id, status, create_time, 
      create_user, modify_time, modify_user
      )
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=TIMESTAMP}, #{graduateNum,jdbcType=INTEGER}, 
      #{employedNum,jdbcType=INTEGER}, #{entrepreneursNum,jdbcType=INTEGER}, #{employmentRate,jdbcType=DECIMAL}, 
      #{specialtyId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zptc.gx.specialty.entity.GraduateHistory" >
    insert into graduate_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="graduateNum != null" >
        graduate_num,
      </if>
      <if test="employedNum != null" >
        employed_num,
      </if>
      <if test="entrepreneursNum != null" >
        entrepreneurs_num,
      </if>
      <if test="employmentRate != null" >
        employment_rate,
      </if>
      <if test="specialtyId != null" >
        specialty_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="graduateNum != null" >
        #{graduateNum,jdbcType=INTEGER},
      </if>
      <if test="employedNum != null" >
        #{employedNum,jdbcType=INTEGER},
      </if>
      <if test="entrepreneursNum != null" >
        #{entrepreneursNum,jdbcType=INTEGER},
      </if>
      <if test="employmentRate != null" >
        #{employmentRate,jdbcType=DECIMAL},
      </if>
      <if test="specialtyId != null" >
        #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zptc.gx.specialty.entity.GraduateHistory" >
    update graduate_history
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="graduateNum != null" >
        graduate_num = #{graduateNum,jdbcType=INTEGER},
      </if>
      <if test="employedNum != null" >
        employed_num = #{employedNum,jdbcType=INTEGER},
      </if>
      <if test="entrepreneursNum != null" >
        entrepreneurs_num = #{entrepreneursNum,jdbcType=INTEGER},
      </if>
      <if test="employmentRate != null" >
        employment_rate = #{employmentRate,jdbcType=DECIMAL},
      </if>
      <if test="specialtyId != null" >
        specialty_id = #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zptc.gx.specialty.entity.GraduateHistory" >
    update graduate_history
    set date = #{date,jdbcType=TIMESTAMP},
      graduate_num = #{graduateNum,jdbcType=INTEGER},
      employed_num = #{employedNum,jdbcType=INTEGER},
      entrepreneurs_num = #{entrepreneursNum,jdbcType=INTEGER},
      employment_rate = #{employmentRate,jdbcType=DECIMAL},
      specialty_id = #{specialtyId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>