<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zptc.gx.specialty.mapper.SpecialtyFilesMapper" >
  <resultMap id="BaseResultMap" type="com.zptc.gx.specialty.entity.SpecialtyFiles" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
    <result column="reviser" property="reviser" jdbcType="VARCHAR" />
    <result column="specialty_id" property="specialtyId" jdbcType="BIGINT" />
    <result column="specialty_name" property="specialtyName" jdbcType="VARCHAR" />
    <result column="url_file_name" property="urlFileName" jdbcType="VARCHAR" />
    <result column="url_file" property="urlFile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, code, name, cate_name, reviser, specialty_id, specialty_name, url_file_name, 
    url_file, status, create_time, create_user, modify_time, modify_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from specialty_files
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from specialty_files
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zptc.gx.specialty.entity.SpecialtyFiles" >
    insert into specialty_files (id, date, code, 
      name, cate_name, reviser, 
      specialty_id, specialty_name, url_file_name, 
      url_file, status, create_time, 
      create_user, modify_time, modify_user
      )
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{cateName,jdbcType=VARCHAR}, #{reviser,jdbcType=VARCHAR}, 
      #{specialtyId,jdbcType=BIGINT}, #{specialtyName,jdbcType=VARCHAR}, #{urlFileName,jdbcType=VARCHAR}, 
      #{urlFile,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zptc.gx.specialty.entity.SpecialtyFiles" >
    insert into specialty_files
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cateName != null" >
        cate_name,
      </if>
      <if test="reviser != null" >
        reviser,
      </if>
      <if test="specialtyId != null" >
        specialty_id,
      </if>
      <if test="specialtyName != null" >
        specialty_name,
      </if>
      <if test="urlFileName != null" >
        url_file_name,
      </if>
      <if test="urlFile != null" >
        url_file,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cateName != null" >
        #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="reviser != null" >
        #{reviser,jdbcType=VARCHAR},
      </if>
      <if test="specialtyId != null" >
        #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="specialtyName != null" >
        #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="urlFileName != null" >
        #{urlFileName,jdbcType=VARCHAR},
      </if>
      <if test="urlFile != null" >
        #{urlFile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zptc.gx.specialty.entity.SpecialtyFiles" >
    update specialty_files
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cateName != null" >
        cate_name = #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="reviser != null" >
        reviser = #{reviser,jdbcType=VARCHAR},
      </if>
      <if test="specialtyId != null" >
        specialty_id = #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="specialtyName != null" >
        specialty_name = #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="urlFileName != null" >
        url_file_name = #{urlFileName,jdbcType=VARCHAR},
      </if>
      <if test="urlFile != null" >
        url_file = #{urlFile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zptc.gx.specialty.entity.SpecialtyFiles" >
    update specialty_files
    set date = #{date,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cate_name = #{cateName,jdbcType=VARCHAR},
      reviser = #{reviser,jdbcType=VARCHAR},
      specialty_id = #{specialtyId,jdbcType=BIGINT},
      specialty_name = #{specialtyName,jdbcType=VARCHAR},
      url_file_name = #{urlFileName,jdbcType=VARCHAR},
      url_file = #{urlFile,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 自定义 -->
  <!-- 查询列表数据 -->
  <select id="getSpecialtyFilesList" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from specialty_files
    <where>
    	<if test="date1 != null and date1 != ''and date2 != null and date2 !=''">
			<!-- and datediff(day,date1,date2,#{date1,jdbcType=TIMESTAMP},#{date1,jdbcType=TIMESTAMP}) -->
			and date between #{date1,jdbcType=VARCHAR} and #{date2,jdbcType=VARCHAR}
		</if>
		<if test="code != null and code != ''">
			and instr(code,#{code,jdbcType=VARCHAR})
		</if>
		<if test="name != null and name != ''">
			and instr(name,#{name,jdbcType=VARCHAR})
		</if>
		<if test="cate_name != null and cate_name != ''">
			and instr(cate_name,#{cate_name,jdbcType=VARCHAR})
		</if>
		<if test="reviser != null and reviser != ''">
			and instr(reviser,#{reviser,jdbcType=VARCHAR})
		</if>
		<!-- <if test="specialty_id != null and specialty_id != ''">
			and instr(specialty_id,#{specialty_id,jdbcType=VARCHAR})
		</if> -->
		<if test="status !=null and status != ''">
			and status = #{status,jdbcType=INTEGER}
		</if>
	</where>
    limit #{pages,jdbcType=INTEGER},#{limit,jdbcType=INTEGER};
  </select>
  <!--统计数据条数-->
  <select id="selectCounts" resultType="int" parameterType="map">
		select
			count(*)
		from
			specialty_files
			<where>
				<if test="date1 != null and date1 != ''and date2 != null and date2 !=''">
					and date between #{date1,jdbcType=VARCHAR} and #{date2,jdbcType=VARCHAR}
				</if>
				<if test="code != null and code != ''">
					and instr(code,#{code,jdbcType=VARCHAR})
				</if>
				<if test="name != null and name != ''">
					and instr(name,#{name,jdbcType=VARCHAR})
				</if>
				<if test="cate_name != null and cate_name != ''">
					and instr(cate_name,#{cate_name,jdbcType=VARCHAR})
				</if>
				<if test="reviser != null and reviser != ''">
					and instr(reviser,#{reviser,jdbcType=VARCHAR})
				</if>
				<!-- <if test="specialty_id != null and specialty_id != ''">
					and specialty_id like '%${specialty_id}%'
					and instr(specialty_id,#{specialty_id,jdbcType=VARCHAR})
				</if> -->
				<if test="status !=null and status != ''">
					and status = #{status,jdbcType=INTEGER}
				</if>
		</where>
	</select>
	<!--根据status修改状态(删除)-->
	 <update id="updateByPrimaryKeyDel" parameterType="com.zptc.gx.specialty.entity.SpecialtyFiles" >
	    update specialty_files
	    <set>
	    	<if test="status !=null and status !=''">
				status = #{status,jdbcType=INTEGER}
			</if>
	    </set>  
	    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--统计相同文件类型的数据条数-->
  <select id="nameCount" resultType="int" parameterType="map">
		select
			count(*)
		from
			specialty_files
			<where>
				<if test="cate_name != null and cate_name != ''">
					and cate_name = #{cate_name,jdbcType=VARCHAR}
				</if>
				<if test="status !=null and status != ''">
					and status = #{status,jdbcType=INTEGER}
				</if>
		</where>
	</select>
	  <!--统计相同专业的数据条数-->
  <select id="specialtyCount" resultType="int" parameterType="map">
		select
			count(*)
		from
			specialty_files
			<where>
				<if test="specialty_name != null and specialty_name != ''">
					and specialty_name = #{specialty_name,jdbcType=VARCHAR}
				</if>
				<if test="status !=null and status != ''">
					and status = #{status,jdbcType=INTEGER}
				</if>
				<if test="specialty_name != null and specialty_name != ''">
					and url_file_name != ""
				</if>
		</where>
	</select>
</mapper>