<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zptc.gx.specialty.mapper.SubjectCompetitionMapper" >
  <resultMap id="BaseResultMap" type="com.zptc.gx.specialty.entity.SubjectCompetition" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="award_level" property="awardLevel" jdbcType="VARCHAR" />
    <result column="students" property="students" jdbcType="VARCHAR" />
    <result column="teachers" property="teachers" jdbcType="VARCHAR" />
    <result column="specialty_id" property="specialtyId" jdbcType="BIGINT" />
    <result column="specialty_name" property="specialtyName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, name, award_level, students, teachers, specialty_id, specialty_name, status, 
    create_time, create_user, modify_time, modify_user
  </sql>
  <!-- 根据id -->
   <select id="selectByPrimaryKeyId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from subject_competition
    where id= #{id,jdbcType=BIGINT}
  </select>
  <!-- 查询列表数据 -->
  <select id="getSubjectCompetitionList" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from subject_competition
    <where>
    	<if test="name != null and name != ''">
			and instr(name,#{name,jdbcType=VARCHAR})
		</if>
		<if test="award_level != null and award_level != ''">
			and instr(award_level,#{award_level,jdbcType=VARCHAR})
		</if>
		<if test="students != null and students != ''">
			and instr(students,#{students,jdbcType=VARCHAR})
		</if>
		<if test="teachers != null and teachers != ''">
			and instr(teachers,#{teachers,jdbcType=VARCHAR})
		</if>
		<if test="specialty_id != null and specialty_id != ''">
			and instr(specialty_id,#{specialty_id,jdbcType=INTEGER})
		</if>
		<if test="specialty_name != null and specialty_name != ''">
			and instr(specialty_name,#{specialty_name,jdbcType=VARCHAR})
		</if>
		<if test="status !=null and status != ''">
			and status = #{status,jdbcType=INTEGER}
		</if>
	</where>
    limit #{pages,jdbcType=INTEGER},#{limit,jdbcType=INTEGER};
  </select>
  <!--统计数据条数-->
  <select id="selectCounts" resultType="int" parameterType="map">
		select
			count(*)
		from
			subject_competition
			  <where>
			<if test="name != null and name != ''">
			and instr(name,#{name,jdbcType=VARCHAR})
		</if>
		<if test="award_level != null and award_level != ''">
			and instr(award_level,#{award_level,jdbcType=VARCHAR})
		</if>
		<if test="students != null and students != ''">
			and instr(students,#{students,jdbcType=VARCHAR})
		</if>
		<if test="teachers != null and teachers != ''">
			and instr(teachers,#{teachers,jdbcType=VARCHAR})
		</if>
		<if test="specialty_id != null and specialty_id != ''">
			and instr(specialty_id,#{specialty_id,jdbcType=INTEGER})
		</if>
		<if test="specialty_name != null and specialty_name != ''">
			and instr(specialty_name,#{specialty_name,jdbcType=VARCHAR})
		</if>
		<if test="status !=null and status != ''">
			and status = #{status,jdbcType=INTEGER}
		</if>
	</where>
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from subject_competition
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zptc.gx.specialty.entity.SubjectCompetition" >
    insert into subject_competition (id, date, name, 
      award_level, students, teachers, 
      specialty_id, specialty_name, status, 
      create_time, create_user, modify_time, 
      modify_user)
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{awardLevel,jdbcType=VARCHAR}, #{students,jdbcType=VARCHAR}, #{teachers,jdbcType=VARCHAR}, 
      #{specialtyId,jdbcType=BIGINT}, #{specialtyName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zptc.gx.specialty.entity.SubjectCompetition" >
    insert into subject_competition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="awardLevel != null" >
        award_level,
      </if>
      <if test="students != null" >
        students,
      </if>
      <if test="teachers != null" >
        teachers,
      </if>
      <if test="specialtyId != null" >
        specialty_id,
      </if>
      <if test="specialtyName != null" >
        specialty_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="awardLevel != null" >
        #{awardLevel,jdbcType=VARCHAR},
      </if>
      <if test="students != null" >
        #{students,jdbcType=VARCHAR},
      </if>
      <if test="teachers != null" >
        #{teachers,jdbcType=VARCHAR},
      </if>
      <if test="specialtyId != null" >
        #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="specialtyName != null" >
        #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zptc.gx.specialty.entity.SubjectCompetition" >
    update subject_competition
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="awardLevel != null" >
        award_level = #{awardLevel,jdbcType=VARCHAR},
      </if>
      <if test="students != null" >
        students = #{students,jdbcType=VARCHAR},
      </if>
      <if test="teachers != null" >
        teachers = #{teachers,jdbcType=VARCHAR},
      </if>
      <if test="specialtyId != null" >
        specialty_id = #{specialtyId,jdbcType=BIGINT},
      </if>
      <if test="specialtyName != null" >
        specialty_name = #{specialtyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zptc.gx.specialty.entity.SubjectCompetition" >
    update subject_competition
    set date = #{date,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      award_level = #{awardLevel,jdbcType=VARCHAR},
      students = #{students,jdbcType=VARCHAR},
      teachers = #{teachers,jdbcType=VARCHAR},
      specialty_id = #{specialtyId,jdbcType=BIGINT},
      specialty_name = #{specialtyName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>