html, body
{
    height: 100%;
    margin: 5px;
    padding: 0;
    overflow-y: hidden;
}
body, button, input, select, textarea, table, th, td
{
    font-size: 12px;
}

.mustFont{
	color:red;
	margin-right: 3px
}

#menuBtnTable td{
	white-space: nowrap;
}

.x-red{
	color: #f00;
	margin-right: 5px;
}